body {
    width: 100%;
    padding: 0px;
    text-rendering: optimizelegibility;
    text-decoration-skip-ink: auto;
    color: hsla(0,0%,0%,0.8);
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    font-size: 12pt;
    overflow-x: hidden !important;
    margin: 0px;
}

.app-container {
    width: 100%
}

header {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(46, 41, 51, 0.08);
    width: 100%;
    z-index: 2;
    height: 60px;
    box-sizing: inherit;
}

header .home-icon svg {
    fill: rgb(51, 51, 51);
    width: 60px;
    height: 60px;
}

header .header-nav {
    width: 100%;
    background-color: white;
    height: 100%;
    display: flex;
    justify-content:  space-between;
    border-bottom: 1px solid rgba(46, 41, 51, 0.08);
}

header .header-nav .home-icon {
    display: flex;
    -moz-box-pack: flex-start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
    width: 30px;
    border: medium none;
    text-decoration: none;
    padding: 0px 26px;
}

ul {
    list-style-position: outside;
    list-style-image: none;
}

header .list-nav-link {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    float: right !important;
}

header ul.list-nav-link li {
    margin-right: 1.75rem;
    padding-left: 0;
    list-style-type: none;
    font-weight: 600;
    font-size: 13pt;
    color: rgb(51, 51, 51);
    border: medium none;
    
}

header nav .header-link {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.main {
    padding-top: 0px;
}

.banner {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    flex-direction: column;
    height: calc(-60px + 50vh);
    text-align: center;
    position: relative;
}

.banner .banner_title {
    margin: 0px;
    color: rgb(32, 35, 41);
    border: medium none;
    font-weight: 900;
    z-index: 1;
    font-size: 5.625rem;
    margin-top: 4rem;
}

.banner .banner_image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner .banner_image svg{
    fill: rgb(245, 245, 245);;
}

/*Media queries*/

@media (max-width: 40.625em) {
    .banner .banner_title {
        font-size: 3.125rem;
    }
}
@media (max-width: 55.625em) {
    .banner .banner_title {
        font-size: 3.4rem;
    }

    .list-nav-link {
        display: none !important;
    }
}